@model ITUniver.TeleCalc.Web.Models.CalcModel
 
@{
    ViewBag.Title = "Вычислятор-Помогатор";
    var TopOpers = ViewData["Top"] as IEnumerable<string>;
}



@using (Html.BeginForm("Exec", "Calc", FormMethod.Post, new { @id = "calc-form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Вычислятор</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.opername, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.opername,
                    Model.OperationList,
                    htmlAttributes: new { @class = "form-control",
                        oninput = "calculate();" })
                @Html.ValidationMessageFor(model => model.opername, "", new { @class = "text-danger" })
            <br />
                @foreach(string oper in TopOpers)
                {
                <input type="button"  class="btn btn-info"value="@oper" onclick="topcalc('@oper')"/>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InputData,
                        htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(
                    model => model.InputData,
                    "Collection",    /*явное использование шаблона*/
                    new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            oninput = "calculate();",
                            style = "display:inline-block; margin-left:5px; margin-top:5px; height: 30px; width: 10%;",
                            onkeyup = "check(event)"
                        }
                    })
                @Html.ValidationMessageFor(model => model.InputData, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="result">
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.OperationHistory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="OperationHistory" style="padding-top: 5px">
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    itUniver = { timerId: 0 }

    function check(event) {
        if (event.keyCode == 8) {
            if ($(event.target).val().length == 0) {
                if ($("input[name=InputData]").length > 1) {
                    $(event.target).prev().focus();
                    $(event.target).remove();
                }
            }
        }
    }

    function calculate() {
        var TO = null
        var xElement = $('input[name=InputData]').last();
        if (xElement.val().endsWith(" ")) {
            var newInput =
                $("<input class=\"form-control text-box single-line\" name=\"InputData\" oninput=\"calculate();GetHistory();\" onkeyup=\"check(event)\" type=\"text\" value=\"\" style = \"display:inline-block; margin-left:5px; margin-top:5px; height: 30px; width: 10%;\">");
            newInput.insertAfter(xElement);
            newInput.focus();
        }
        if (TO) {
            ClearTimeout(TO);
        }
        TO = setTimeout(function _post() {
            $.ajax({
                method: "POST",
                url: "/Calc/Exec",
                data: $('form').serializeArray()
            }).success(
            function (result) {
                $("#result").html(result);
                GetHistory();
            }
            )
        }, 5000);
        function GetHistory() {
            $.get("/Calc/_History/").success(function(res) { $("#OperationHistory").html(res);})

        }
    }
    function realCalc() {
        $.ajax({
            method: "POST",
            url: "/Calc/Exec",
            data: $('form').serializeArray()
        }).success(
            function (result) {
                $("#result").html(result);
            }
        )

    }

    function topcalc(oper)
    {
        $("#OperName").val(oper);
        realCalc();
    }
</script>